AgileSite11/LicenseProvider/Web References/RentedLicenseWebService/RentedLicenseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://service.kentico.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://service.kentico.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://service.kentico.com/">
      <s:element name="GetLicenseKeys">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rentedkeys" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="requiredKeys" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="version" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLicenseKeysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLicenseKeysResult" type="tns:RentedLicenseResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RentedLicenseResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Licenses" type="tns:ArrayOfDomainLicense" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDomainLicense">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DomainLicense" type="tns:DomainLicense" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DomainLicense">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLicenseKeysSoapIn">
    <wsdl:part name="parameters" element="tns:GetLicenseKeys" />
  </wsdl:message>
  <wsdl:message name="GetLicenseKeysSoapOut">
    <wsdl:part name="parameters" element="tns:GetLicenseKeysResponse" />
  </wsdl:message>
  <wsdl:portType name="RentedLicenseServiceSoap">
    <wsdl:operation name="GetLicenseKeys">
      <wsdl:input message="tns:GetLicenseKeysSoapIn" />
      <wsdl:output message="tns:GetLicenseKeysSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RentedLicenseServiceSoap" type="tns:RentedLicenseServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLicenseKeys">
      <soap:operation soapAction="http://service.kentico.com/GetLicenseKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RentedLicenseServiceSoap12" type="tns:RentedLicenseServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLicenseKeys">
      <soap12:operation soapAction="http://service.kentico.com/GetLicenseKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RentedLicenseService">
    <wsdl:port name="RentedLicenseServiceSoap" binding="tns:RentedLicenseServiceSoap">
      <soap:address location="http://service.kentico.com/RentedLicenseService.asmx" />
    </wsdl:port>
    <wsdl:port name="RentedLicenseServiceSoap12" binding="tns:RentedLicenseServiceSoap12">
      <soap12:address location="http://service.kentico.com/RentedLicenseService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>